// Default navigation settings and config, change as required per project

// Set navigation height
// $nav-height: 80px;


// Set navigation background colours
$nav-bg: #fff;

$nav-bg-hover: $color-primary;

$nav-bg-active: $color-secondary;

$nav-bag-active-hover: $color-secondary-dark;


// Set nav box shadow
$nav-shadow: 0px 3px 10px rgba(0,0,0,0.5);


// Set navigation position
$nav-position: fixed;


// Set badge icon size
$nav-badge: 60px;