//========== padding and margins ==========//
$work-padding: 2rem 2rem 0;

$title-padding: 0 0 2rem;

$preview-padding: 2rem 0 0;


//========== border radius ==========//

// edge of mock browser radius
$preview-radius: 15px 15px 0 0;


// view project button radius
$button-radius: 15px;